<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Halo Peer Pressure &bull; Chips + Bits</title>
  <meta name="description" content="BLANK" />
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
  <%= yield %>
  <footer>
    <h1>Chips & Bits</h1>
  </footer>
</body>
</html>