<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="description" content="BLANK" />
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
  <%= yield %>
</body>
</html>