<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Halo Peer Pressure &bull; Chips + Bits</title>
  <meta name="description" content="BLANK" />
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
  <%= yield %>
  <footer>
    <h1>Chips & Bits</h1>
  </footer>
  <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.anystretch.min.js"></script>
  <script type="text/javascript">
    $('header').anystretch("/images/halo-peer-pressure.jpg");
  </script>
</body>
</html>