<article class="text post">

  <header>
    <h2>Who exactly are the VGAs for?</h2>
    <p>by wanderingmatt</p>
    <aside class="ribbon">
      <ul>
        <li class="type"><a href="http://chips-n-bits.com/post/2349501588/who-exactly-are-the-vgas-for">Permalink</a></li>
        <li class="author"><img src="http://29.media.tumblr.com/avatar_f6a173ad723c_24.png" alt="wanderingmatt" class="avatar" /></li>
        <li class="permalink"><a href="http://chips-n-bits.com/post/2349501588/who-exactly-are-the-vgas-for">Dec <strong>17</strong></a></li>
      </ul>
    </aside>
  </header>

  <p>Against my better judgement, I decided to watch the Video Game Awards this year.</p>

  <p>I was pleasantly surprised to find that my bullshit detector is still in working order. I should listened to my instincts. What an absolute waste of time. They didn&#8217;t just leave a bad taste in my mouth - they also got me thinking - who exactly are the VGAs for?</p>

  <p>Video game developers?</p>

  <p>I don&#8217;t think so. They don&#8217;t televise all of the awards and, let&#8217;s be honest, they don&#8217;t take the ones they do seriously. Case in point, best character. What a sorry state of affairs that was. Throughout the night, the best character nominees were introduced by Dane Cook via horribly contrived tales of Dane&#8217;s supposed interactions with them in real life. Unfortunately, envisioning Dane trying to pick up chicks with Kratos isn&#8217;t funny. It&#8217;s stupid. Especially when there is an entire game worth of footage documenting why Kratos is a beloved character.</p>

  <p>Video game fans?</p>

  <p>I am one. So, no. Major announcements and previews! A bunch of lies. I mean, just look at <a href="http://www.gametrailers.com/video/vga-10-forza-motorsport/708346">this &#8220;trailer&#8221;</a> for Forza Motorsport 4. Most of it isn&#8217;t even pre-rendered, just straight stock video! Lazy. How about <a href="http://www.gametrailers.com/video/vga-10-elder-scrolls/708369">this one</a>? Was there really someone out there dying to know what the name of the next Elder Scrolls game was going to be? It&#8217;s Skyrim. Spoiler. The <a href="http://www.gametrailers.com/video/vga-10-batman-arkham/708342">Batman trailer</a> was fun. The <a href="http://www.gametrailers.com/video/vga-10-uncharted-3/708329">Uncharted 3 trailer</a> was impressive - bonus points for showing actual game footage. And, as I mentioned the other day, the <a href="http://bits.cooperativ.es/post/2301977064/mass-effect-3-trailer">Mass Effect 3 trailer</a> absolutely stole the show. Nothing else was memorable. In other words, video game fans can effectively boil the entire 2-hour show down to 5 and a half minutes.</p>

  <p>What about the general public?</p>

  <p>Nope. Nothing, other than a handful of previews, was entertaining in the slightest. The funniest comedy bit was when a raspy-voiced Spider-Man criticized Neil Patrick Harris&#8217; rendition of him via &#8220;live&#8221; satellite feed. Unfortunately, facilitating this bit required that NPH win the award for best human male performance; beating out Rob Wiethoff (John Marston) and Martin Sheen (Illusive Man) in the process! Fail.</p>

  <p>Wait, I&#8217;ve got it. If you love Burger King and Dr. Pepper, you&#8217;d love the VGAs!</p>
</article>

<footer>
  <div class="pagination">
    <nav class="dpad">
      <ul>
        <li class="right"><a href="#">Older</a></li>
        <li class="left"><a href="#">Newer</a></li>
      </ul>
    </nav>
    <aside class="ribbon">&nbsp;</aside>
  </div>
</footer>