<article>
  <header>
    <h1>Halo Peer Pressure</h1>
    <time datetime="2011-09-21" pubdate>21st of September</time>
  </header>
  <section>
    <p>I consider myself pretty fortunate. I was 21 years old before anyone tried to get me to do it for the first time. <em>&#8220;Everyone is doing it&#8221;</em>, they said. I remember how nervous I felt, walking up their driveway for the very first time. Once Inside, the true nature of the location was revealed. 4-10 guys. One television upstairs, one downstairs. The entire lot, hunched around their designated light source screaming, groaning and sweating. Random outbursts of anger. Pizza and Mountain Dew everywhere. How had I gotten myself in to this situation?</p>

    <p>Peer pressure. It&#8217;s not just for candy anymore, children. It&#8217;s an epidemic in the world of video games and, arguably the most successful marketing campaign for several popular franchises. My story is just one example of how it can ruin, then subsequently enrich your life.</p>

    <p><strong>Halo: Combat Evolved</strong></p>

    <p>I didn&#8217;t purchase the original. I didn&#8217;t even own an Xbox at the time. I convinced myself that I could get by with just a taste now and then. I can&#8217;t explain why I played so much of the game. The story had potential, but I didn&#8217;t end up caring about a single character. The game took place on these fabulous planets, yet the level design felt claustrophobic. Multiplayer was undoubtedly the most enjoyable part of the game and it was still handcuffed by my biggest gripe - your character moved <strong>so slow</strong>. All I could ever think about while playing was, <em>&#8220;I wish I had a mouse&#8221;</em>. The only thing that really impressed me were the innovative (at the time) vehicle controls. And yet, I kept coming back to it.</p>

    <p><strong>Halo 2</strong></p>

    <p>I bit the bullet with Halo 2. I even purchased an Xbox to play it on. It was disappointing. It was exactly the same as the original, save a few minor changes for the worse. The story, which had previously shown potential, fell flat. The ugly cinematics, which the original had gotten away with as a launch title, were now inexcusable. The campaign was shorter than my patience and by the time I jumped in to multiplayer, most of my friends had moved on.</p>

    <p><strong>Halo 3</strong></p>

    <p>The Halo 3 marketing machine was an astonishing piece of work. The amazing <em>Believe</em> campaign, launch parties, micro-sites, action figures &amp; Mountain Dew flavors. It had it all. Everyone bought Halo 3 in their minds long before release. I bought it. It had promise. The graphics were there. The compelling story was back. Ironically, it almost didn&#8217;t matter because multiplayer was once again where it was at. I logged a ton of hours with friends and enjoyed every minute. When friends started moving on though, Halo 3 became noticeably difficult to play. Online play was plagued with immature douchebags - the kind that make you question your existence as a human. More time in campaign, reminded me of my previous, long-standing gripes. And then there was the AI-controlled Spartans who drove your vehicles like a bunch of drunken idiots. Halo 3, once a bunch of fun, came out of my disc tray and left a bad taste in my mouth.</p>

    <p><strong>Halo Sobriety</strong></p>

    <p>When Halo 3 multiplayer dried up, I decided I&#8217;d had enough. It was time to make a clean break. Never again, would I disappoint myself by caving to peer pressure and hype. I was a new man. I was clean. <strong>Halo Wars</strong>. Skipped it. <strong>Halo 3: ODST</strong>. Skipped it. I was proud of myself. It was easier than I thought it would be. I thought I&#8217;d really turned over a new leaf. I hear the relapse rate is around 80%.</p>

    <p><strong>Halo: Reach</strong></p>

    <p>Reach is the new drug on the block. And, unlike all of my other friends, I wasn&#8217;t looking forward to it. I was steadfast in my convictions. My confidence was high, fueled by the successful dismissals of 2 Halo games in a row. But then, it started. Halo peer pressure. Another engrossing television campaign, early reviews, tweets, Facebook posts, emails, IMs, even phone calls from friends - all carrying the same message. <em>&#8220;Buy this game&#8221;</em>. I held out until the day before release before caving and ordering it with next-day delivery.</p>

    <p>Just a few hours in to the campaign and I can already see that this time is going to be different. Gone are the confined spaces, repetitive levels and choppy cutscenes. In their place - expansive level designs with incredible visuals and wonderful, cinematic cutscenes. The sound design is the best yet. The story is front and center (if a little forced at times) and the pacing is impeccable. Of all my previous complaints, only one appears to remain - <a href="http://mattbrett.com/blog/videogames/2010/spartans-cant-drive/">Spartans still can&#8217;t drive for shit</a>. All things considered though, I think I can learn to live with that in light of so many other achievements.</p>

    <p>So far, Halo: Reach is making me very happy. I don&#8217;t have to play multiplayer if I don&#8217;t want to. Which is all I&#8217;ve ever really wanted from a Halo game.</p>

    <p>The moral of this story? Do drugs &amp; play Halo: Reach.</p>

  </section>
</article>