html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  color: #555;
  font-family: Verdana, Arial, sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: #096;
  font-weight: bold;
  text-decoration: none;
}

article header {
  height: 768px;
  left: 0;
  right: 0;
  text-align: center;
}
article time, article h1, article h2 {
  color: #fff;
  margin: 0 auto;
  width: 90%;
}
article h1 {
  color: #fff;
  font-size: 4.5em;
  font-weight: 100;
  letter-spacing: -0.05em;
  position: relative;
  text-shadow: 0 1px 3px black;
  top: 50%;
}
article h2 {
  font-size: 1.15em;
  line-height: 1em;
}

section {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.063%, rgba(100, 100, 225, 0.25)), color-stop(5.063%, rgba(0, 0, 0, 0)), color-stop(6.329%, rgba(0, 0, 0, 0)), color-stop(6.329%, rgba(100, 100, 225, 0.25)), color-stop(11.392%, rgba(100, 100, 225, 0.25)), color-stop(11.392%, rgba(0, 0, 0, 0)), color-stop(12.658%, rgba(0, 0, 0, 0)), color-stop(12.658%, rgba(100, 100, 225, 0.25)), color-stop(17.722%, rgba(100, 100, 225, 0.25)), color-stop(17.722%, rgba(0, 0, 0, 0)), color-stop(18.987%, rgba(0, 0, 0, 0)), color-stop(18.987%, rgba(100, 100, 225, 0.25)), color-stop(24.051%, rgba(100, 100, 225, 0.25)), color-stop(24.051%, rgba(0, 0, 0, 0)), color-stop(25.316%, rgba(0, 0, 0, 0)), color-stop(25.316%, rgba(100, 100, 225, 0.25)), color-stop(30.38%, rgba(100, 100, 225, 0.25)), color-stop(30.38%, rgba(0, 0, 0, 0)), color-stop(31.646%, rgba(0, 0, 0, 0)), color-stop(31.646%, rgba(100, 100, 225, 0.25)), color-stop(36.709%, rgba(100, 100, 225, 0.25)), color-stop(36.709%, rgba(0, 0, 0, 0)), color-stop(37.975%, rgba(0, 0, 0, 0)), color-stop(37.975%, rgba(100, 100, 225, 0.25)), color-stop(43.038%, rgba(100, 100, 225, 0.25)), color-stop(43.038%, rgba(0, 0, 0, 0)), color-stop(44.304%, rgba(0, 0, 0, 0)), color-stop(44.304%, rgba(100, 100, 225, 0.25)), color-stop(49.367%, rgba(100, 100, 225, 0.25)), color-stop(49.367%, rgba(0, 0, 0, 0)), color-stop(50.633%, rgba(0, 0, 0, 0)), color-stop(50.633%, rgba(100, 100, 225, 0.25)), color-stop(55.696%, rgba(100, 100, 225, 0.25)), color-stop(55.696%, rgba(0, 0, 0, 0)), color-stop(56.962%, rgba(0, 0, 0, 0)), color-stop(56.962%, rgba(100, 100, 225, 0.25)), color-stop(62.025%, rgba(100, 100, 225, 0.25)), color-stop(62.025%, rgba(0, 0, 0, 0)), color-stop(63.291%, rgba(0, 0, 0, 0)), color-stop(63.291%, rgba(100, 100, 225, 0.25)), color-stop(68.354%, rgba(100, 100, 225, 0.25)), color-stop(68.354%, rgba(0, 0, 0, 0)), color-stop(69.62%, rgba(0, 0, 0, 0)), color-stop(69.62%, rgba(100, 100, 225, 0.25)), color-stop(74.684%, rgba(100, 100, 225, 0.25)), color-stop(74.684%, rgba(0, 0, 0, 0)), color-stop(75.949%, rgba(0, 0, 0, 0)), color-stop(75.949%, rgba(100, 100, 225, 0.25)), color-stop(81.013%, rgba(100, 100, 225, 0.25)), color-stop(81.013%, rgba(0, 0, 0, 0)), color-stop(82.278%, rgba(0, 0, 0, 0)), color-stop(82.278%, rgba(100, 100, 225, 0.25)), color-stop(87.342%, rgba(100, 100, 225, 0.25)), color-stop(87.342%, rgba(0, 0, 0, 0)), color-stop(88.608%, rgba(0, 0, 0, 0)), color-stop(88.608%, rgba(100, 100, 225, 0.25)), color-stop(93.671%, rgba(100, 100, 225, 0.25)), color-stop(93.671%, rgba(0, 0, 0, 0)), color-stop(94.937%, rgba(0, 0, 0, 0)), color-stop(94.937%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.063%, rgba(0, 0, 0, 0) 5.063%, rgba(0, 0, 0, 0) 6.329%, rgba(100, 100, 225, 0.25) 6.329%, rgba(100, 100, 225, 0.25) 11.392%, rgba(0, 0, 0, 0) 11.392%, rgba(0, 0, 0, 0) 12.658%, rgba(100, 100, 225, 0.25) 12.658%, rgba(100, 100, 225, 0.25) 17.722%, rgba(0, 0, 0, 0) 17.722%, rgba(0, 0, 0, 0) 18.987%, rgba(100, 100, 225, 0.25) 18.987%, rgba(100, 100, 225, 0.25) 24.051%, rgba(0, 0, 0, 0) 24.051%, rgba(0, 0, 0, 0) 25.316%, rgba(100, 100, 225, 0.25) 25.316%, rgba(100, 100, 225, 0.25) 30.38%, rgba(0, 0, 0, 0) 30.38%, rgba(0, 0, 0, 0) 31.646%, rgba(100, 100, 225, 0.25) 31.646%, rgba(100, 100, 225, 0.25) 36.709%, rgba(0, 0, 0, 0) 36.709%, rgba(0, 0, 0, 0) 37.975%, rgba(100, 100, 225, 0.25) 37.975%, rgba(100, 100, 225, 0.25) 43.038%, rgba(0, 0, 0, 0) 43.038%, rgba(0, 0, 0, 0) 44.304%, rgba(100, 100, 225, 0.25) 44.304%, rgba(100, 100, 225, 0.25) 49.367%, rgba(0, 0, 0, 0) 49.367%, rgba(0, 0, 0, 0) 50.633%, rgba(100, 100, 225, 0.25) 50.633%, rgba(100, 100, 225, 0.25) 55.696%, rgba(0, 0, 0, 0) 55.696%, rgba(0, 0, 0, 0) 56.962%, rgba(100, 100, 225, 0.25) 56.962%, rgba(100, 100, 225, 0.25) 62.025%, rgba(0, 0, 0, 0) 62.025%, rgba(0, 0, 0, 0) 63.291%, rgba(100, 100, 225, 0.25) 63.291%, rgba(100, 100, 225, 0.25) 68.354%, rgba(0, 0, 0, 0) 68.354%, rgba(0, 0, 0, 0) 69.62%, rgba(100, 100, 225, 0.25) 69.62%, rgba(100, 100, 225, 0.25) 74.684%, rgba(0, 0, 0, 0) 74.684%, rgba(0, 0, 0, 0) 75.949%, rgba(100, 100, 225, 0.25) 75.949%, rgba(100, 100, 225, 0.25) 81.013%, rgba(0, 0, 0, 0) 81.013%, rgba(0, 0, 0, 0) 82.278%, rgba(100, 100, 225, 0.25) 82.278%, rgba(100, 100, 225, 0.25) 87.342%, rgba(0, 0, 0, 0) 87.342%, rgba(0, 0, 0, 0) 88.608%, rgba(100, 100, 225, 0.25) 88.608%, rgba(100, 100, 225, 0.25) 93.671%, rgba(0, 0, 0, 0) 93.671%, rgba(0, 0, 0, 0) 94.937%, rgba(100, 100, 225, 0.25) 94.937%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.063%, rgba(0, 0, 0, 0) 5.063%, rgba(0, 0, 0, 0) 6.329%, rgba(100, 100, 225, 0.25) 6.329%, rgba(100, 100, 225, 0.25) 11.392%, rgba(0, 0, 0, 0) 11.392%, rgba(0, 0, 0, 0) 12.658%, rgba(100, 100, 225, 0.25) 12.658%, rgba(100, 100, 225, 0.25) 17.722%, rgba(0, 0, 0, 0) 17.722%, rgba(0, 0, 0, 0) 18.987%, rgba(100, 100, 225, 0.25) 18.987%, rgba(100, 100, 225, 0.25) 24.051%, rgba(0, 0, 0, 0) 24.051%, rgba(0, 0, 0, 0) 25.316%, rgba(100, 100, 225, 0.25) 25.316%, rgba(100, 100, 225, 0.25) 30.38%, rgba(0, 0, 0, 0) 30.38%, rgba(0, 0, 0, 0) 31.646%, rgba(100, 100, 225, 0.25) 31.646%, rgba(100, 100, 225, 0.25) 36.709%, rgba(0, 0, 0, 0) 36.709%, rgba(0, 0, 0, 0) 37.975%, rgba(100, 100, 225, 0.25) 37.975%, rgba(100, 100, 225, 0.25) 43.038%, rgba(0, 0, 0, 0) 43.038%, rgba(0, 0, 0, 0) 44.304%, rgba(100, 100, 225, 0.25) 44.304%, rgba(100, 100, 225, 0.25) 49.367%, rgba(0, 0, 0, 0) 49.367%, rgba(0, 0, 0, 0) 50.633%, rgba(100, 100, 225, 0.25) 50.633%, rgba(100, 100, 225, 0.25) 55.696%, rgba(0, 0, 0, 0) 55.696%, rgba(0, 0, 0, 0) 56.962%, rgba(100, 100, 225, 0.25) 56.962%, rgba(100, 100, 225, 0.25) 62.025%, rgba(0, 0, 0, 0) 62.025%, rgba(0, 0, 0, 0) 63.291%, rgba(100, 100, 225, 0.25) 63.291%, rgba(100, 100, 225, 0.25) 68.354%, rgba(0, 0, 0, 0) 68.354%, rgba(0, 0, 0, 0) 69.62%, rgba(100, 100, 225, 0.25) 69.62%, rgba(100, 100, 225, 0.25) 74.684%, rgba(0, 0, 0, 0) 74.684%, rgba(0, 0, 0, 0) 75.949%, rgba(100, 100, 225, 0.25) 75.949%, rgba(100, 100, 225, 0.25) 81.013%, rgba(0, 0, 0, 0) 81.013%, rgba(0, 0, 0, 0) 82.278%, rgba(100, 100, 225, 0.25) 82.278%, rgba(100, 100, 225, 0.25) 87.342%, rgba(0, 0, 0, 0) 87.342%, rgba(0, 0, 0, 0) 88.608%, rgba(100, 100, 225, 0.25) 88.608%, rgba(100, 100, 225, 0.25) 93.671%, rgba(0, 0, 0, 0) 93.671%, rgba(0, 0, 0, 0) 94.937%, rgba(100, 100, 225, 0.25) 94.937%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.063%, rgba(0, 0, 0, 0) 5.063%, rgba(0, 0, 0, 0) 6.329%, rgba(100, 100, 225, 0.25) 6.329%, rgba(100, 100, 225, 0.25) 11.392%, rgba(0, 0, 0, 0) 11.392%, rgba(0, 0, 0, 0) 12.658%, rgba(100, 100, 225, 0.25) 12.658%, rgba(100, 100, 225, 0.25) 17.722%, rgba(0, 0, 0, 0) 17.722%, rgba(0, 0, 0, 0) 18.987%, rgba(100, 100, 225, 0.25) 18.987%, rgba(100, 100, 225, 0.25) 24.051%, rgba(0, 0, 0, 0) 24.051%, rgba(0, 0, 0, 0) 25.316%, rgba(100, 100, 225, 0.25) 25.316%, rgba(100, 100, 225, 0.25) 30.38%, rgba(0, 0, 0, 0) 30.38%, rgba(0, 0, 0, 0) 31.646%, rgba(100, 100, 225, 0.25) 31.646%, rgba(100, 100, 225, 0.25) 36.709%, rgba(0, 0, 0, 0) 36.709%, rgba(0, 0, 0, 0) 37.975%, rgba(100, 100, 225, 0.25) 37.975%, rgba(100, 100, 225, 0.25) 43.038%, rgba(0, 0, 0, 0) 43.038%, rgba(0, 0, 0, 0) 44.304%, rgba(100, 100, 225, 0.25) 44.304%, rgba(100, 100, 225, 0.25) 49.367%, rgba(0, 0, 0, 0) 49.367%, rgba(0, 0, 0, 0) 50.633%, rgba(100, 100, 225, 0.25) 50.633%, rgba(100, 100, 225, 0.25) 55.696%, rgba(0, 0, 0, 0) 55.696%, rgba(0, 0, 0, 0) 56.962%, rgba(100, 100, 225, 0.25) 56.962%, rgba(100, 100, 225, 0.25) 62.025%, rgba(0, 0, 0, 0) 62.025%, rgba(0, 0, 0, 0) 63.291%, rgba(100, 100, 225, 0.25) 63.291%, rgba(100, 100, 225, 0.25) 68.354%, rgba(0, 0, 0, 0) 68.354%, rgba(0, 0, 0, 0) 69.62%, rgba(100, 100, 225, 0.25) 69.62%, rgba(100, 100, 225, 0.25) 74.684%, rgba(0, 0, 0, 0) 74.684%, rgba(0, 0, 0, 0) 75.949%, rgba(100, 100, 225, 0.25) 75.949%, rgba(100, 100, 225, 0.25) 81.013%, rgba(0, 0, 0, 0) 81.013%, rgba(0, 0, 0, 0) 82.278%, rgba(100, 100, 225, 0.25) 82.278%, rgba(100, 100, 225, 0.25) 87.342%, rgba(0, 0, 0, 0) 87.342%, rgba(0, 0, 0, 0) 88.608%, rgba(100, 100, 225, 0.25) 88.608%, rgba(100, 100, 225, 0.25) 93.671%, rgba(0, 0, 0, 0) 93.671%, rgba(0, 0, 0, 0) 94.937%, rgba(100, 100, 225, 0.25) 94.937%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.063%, rgba(0, 0, 0, 0) 5.063%, rgba(0, 0, 0, 0) 6.329%, rgba(100, 100, 225, 0.25) 6.329%, rgba(100, 100, 225, 0.25) 11.392%, rgba(0, 0, 0, 0) 11.392%, rgba(0, 0, 0, 0) 12.658%, rgba(100, 100, 225, 0.25) 12.658%, rgba(100, 100, 225, 0.25) 17.722%, rgba(0, 0, 0, 0) 17.722%, rgba(0, 0, 0, 0) 18.987%, rgba(100, 100, 225, 0.25) 18.987%, rgba(100, 100, 225, 0.25) 24.051%, rgba(0, 0, 0, 0) 24.051%, rgba(0, 0, 0, 0) 25.316%, rgba(100, 100, 225, 0.25) 25.316%, rgba(100, 100, 225, 0.25) 30.38%, rgba(0, 0, 0, 0) 30.38%, rgba(0, 0, 0, 0) 31.646%, rgba(100, 100, 225, 0.25) 31.646%, rgba(100, 100, 225, 0.25) 36.709%, rgba(0, 0, 0, 0) 36.709%, rgba(0, 0, 0, 0) 37.975%, rgba(100, 100, 225, 0.25) 37.975%, rgba(100, 100, 225, 0.25) 43.038%, rgba(0, 0, 0, 0) 43.038%, rgba(0, 0, 0, 0) 44.304%, rgba(100, 100, 225, 0.25) 44.304%, rgba(100, 100, 225, 0.25) 49.367%, rgba(0, 0, 0, 0) 49.367%, rgba(0, 0, 0, 0) 50.633%, rgba(100, 100, 225, 0.25) 50.633%, rgba(100, 100, 225, 0.25) 55.696%, rgba(0, 0, 0, 0) 55.696%, rgba(0, 0, 0, 0) 56.962%, rgba(100, 100, 225, 0.25) 56.962%, rgba(100, 100, 225, 0.25) 62.025%, rgba(0, 0, 0, 0) 62.025%, rgba(0, 0, 0, 0) 63.291%, rgba(100, 100, 225, 0.25) 63.291%, rgba(100, 100, 225, 0.25) 68.354%, rgba(0, 0, 0, 0) 68.354%, rgba(0, 0, 0, 0) 69.62%, rgba(100, 100, 225, 0.25) 69.62%, rgba(100, 100, 225, 0.25) 74.684%, rgba(0, 0, 0, 0) 74.684%, rgba(0, 0, 0, 0) 75.949%, rgba(100, 100, 225, 0.25) 75.949%, rgba(100, 100, 225, 0.25) 81.013%, rgba(0, 0, 0, 0) 81.013%, rgba(0, 0, 0, 0) 82.278%, rgba(100, 100, 225, 0.25) 82.278%, rgba(100, 100, 225, 0.25) 87.342%, rgba(0, 0, 0, 0) 87.342%, rgba(0, 0, 0, 0) 88.608%, rgba(100, 100, 225, 0.25) 88.608%, rgba(100, 100, 225, 0.25) 93.671%, rgba(0, 0, 0, 0) 93.671%, rgba(0, 0, 0, 0) 94.937%, rgba(100, 100, 225, 0.25) 94.937%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  *zoom: 1;
  max-width: 79em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
