// Variables for colors, sizes and mixins.
//
// No styleguide reference.

// COLORS

// GRID

$base-font-size : 15px;
$base-line-height: 25px;
$total-columns: 16;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

// COMPASS

$legacy-support-for-ie6: false;