// Variables for colors, sizes and mixins.
//
// No styleguide reference.

// COLORS

$base-color: #444;

// GRID

$base-font-size : 15px;
$base-line-height: 25px;
$container-style: fluid;
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 4em;

// COMPASS

$legacy-support-for-ie6: false;