// Variables for colors, sizes and mixins.
//
// No styleguide reference.

// COLORS

// GRID

$base-font-size : 16px;
$base-line-height: 24px;
$container-style: fluid;
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;

// COMPASS

$legacy-support-for-ie6: false;