// CHIPS & BITS

@import 'compass';
@import 'compass/reset';
@import 'framework/all';

body {
  color: #555;
  font-family: $default-font;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}


a {
  color: #096;
  font-weight: bold;
  text-decoration: none;
}

// NAV

nav {
  background: #fff;
  color: #000;
}

// ARTICLE

article {
  header {
    height: 768px;
    left: 0;
    right: 0;
    text-align: center;
  }
  time, h1, h2 {
    color: #fff;
    margin: 0 auto;
    width: 90%;
  }
  h1 {
    color: #fff;
    font-size: 4.5em;
    font-weight: 100;
    letter-spacing: -.05em;
    position: relative;
    @include text-shadow(0 1px 3px #000);
    top: 50%;
  }
  h2 {
    font-size: 1.15em;
    line-height: 1em;
  }
}

// SECTION

section {
  margin: 0 auto;
  width: 50%;
}

// FOOTER