/* CHIPS & BITS */
/* AUTHOR: Matthew Anderson -> @wanderingmatt */

//
// Application Stylesheet
//

@import "partials/base";
@import "partials/content";
@import "partials/layout";

/* =RESET */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

header, section, footer, aside, nav, article, figure { display: block; } /* HTML5 */

/* =GLOBALS */

body {
  color: #555;
  font-size: 100%;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}


a {
  color: #096;
  font-weight: bold;
  text-decoration: none;
}

// HEADER //

header {
  background: #fff;
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
}

// ARTICLE //

article {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    img {
      position: fixed;
      height: auto;
      display: block;
      position: relative;
      width: 100%;
    }
    hgroup {
      position: absolute;
      text-align: center;
      top: 300px;
      width: 100%;
    }
  }
}

h1 {
  font-size: 4.5em;
  font-weight: 100;
  color: #fff;
}

h1 a {
  background: url("http://static.tumblr.com/h42ojc9/6x6lodwna/logo.png") no-repeat 50%;
  display: block;
  height: 200px;
  text-indent: -9999px;
}

h1 a:hover { color: #fff; }

// COPY //

.copy {
  background: #fff;
  padding: 5%;
  position: absolute;
  top: 50%;
  z-index: 100;
}

section {
  margin: 0 auto;
  width: 50%;
}

/* =POSTS */

h2, .quote q {
  font-size: 30px;
  letter-spacing: -.05em;
  line-height: 40px;
}

h2 a {
  color: rgba(0, 0, 0, .8);
  padding: 2px 0;
  text-decoration: none;
}

h2 a:hover { color: #096; }

.post header p { padding: 0; }

h3 {
  color: rgba(0, 0, 0, .8);
  font-size: 15px;
  padding: 0 20px 20px 20px;
}

.post p { padding: 0 80px 20px 20px; }

.post p a:hover {
  background-color: #ffc;
  color: rgba(0, 0, 0, .8);
}

.post ul, .post ol { margin: 0 0 20px 43px; }
.post header ul, .post header ol { margin-top: 20px; }
.post ul { list-style-type: disc; }
.post ol { list-style-type: decimal; }
blockquote { border-left: 2px solid rgba(0, 0, 0, .2); }

blockquote p {
  color: #777;
  font-style: italic;
  padding-left: 18px;
}

blockquote p:last-child { padding-bottom: 0; }

.like { margin: 0 80px 20px 20px; }
header .like { margin: 20px 0 0 0; }

.comments {
  margin: 0 80px 0 20px;
  padding-bottom: 16px;
}

.ribbon {
  display: none;
  background: rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  left: 640px;
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
}

.ribbon ul, .ribbon ol {
  list-style-type: none;
  margin: 0;
}

.ribbon a {
  background-image: url("http://static.tumblr.com/h42ojc9/Nx9ld56vz/sprite.png");
  background-position: bottom 17px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, .8);
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 10px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, .6);
  text-transform: uppercase;
}

.ribbon a strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.ribbon a span {
  display: none;
  text-indent: -9999px;
}

.type a {
  background-position: 50%;
  height: 40px;
  padding: 40px 0 19px 0;
  text-indent: -9999px;
}

.post .author { margin-bottom: 8px; }

.post .avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
}

.permalink a {
  background: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.post hr {
  background: url("http://static.tumblr.com/h42ojc9/4kRlbhn8m/bg_hr.png") 50% 15px no-repeat;
  border: 0;
  border-top: 3px double rgba(0, 0, 0, .1);
  clear: both;
  display: block;
  height: 17px;
  margin: 0;
  padding-bottom: 80px;
}

/* =TEXT */

.text .type a {
  background-position: 13px -896px;
  margin-bottom: 39px;
}

.text header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 19px;
}

.text header p {
  color: rgba(0, 0, 0, .5);
  padding: 0;
}

.text blockquote { margin-left: 20px; }
.text blockquote p { margin-bottom: 20px; }

.text .ribbon ul {
  list-style-type: none;
  margin: 0;
}

.text .ribbon a {
  color: rgba(0, 0, 0, .8);
  text-shadow: 0 1px rgba(255, 255, 255, .6);
}

/* =PHOTO */

.photo .type a { background-position: 13px -996px; }

.photo .frame {
  background: #000;
  margin-bottom: 20px;
}

.photo img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.photo .hi-res img { width: 700; }

.photo .ribbon a {
  color: rgba(255, 255, 255, .8);
  text-shadow: 0 -1px rgba(0, 0, 0, .6);
}

.photo .permalink a { background-position: 13px -405px; }

/* =QUOTE */

.quote header { min-height: 180px; }
.quote .type a { background-position: 13px -1096px; }
.quote blockquote { border: 0; }

.quote q {
  color: rgba(0, 0, 0, .8);
  display: block;
  font-weight: 300;
}

.quote cite {
  color: rgba(0, 0, 0, .5);
  display: block;
  font-style: normal;
  margin-top: 20px;
}

.quote cite strong { color: rgba(0, 0, 0, .8); }

/* =LINK */

.link header { min-height: 180px; }
.link header p { margin-top: 20px; }
.link header blockquote p { padding-left: 18px; }

.link h2 a {
  background: url("http://static.tumblr.com/h42ojc9/Aiklbhn94/bg_h2.png") right 0 no-repeat;
  padding: 3px 60px 3px 0;
}

.link header a:hover { background-position: right -42px; }
.link .type a { background-position: 13px -1196px; }

/* =AUDIO */

.audio {
  background: rgba(0, 0, 0, .8);
  text-shadow: 0 -1px rgba(0, 0, 0, .8);
}

.audio .type a {
  background-position: 13px -1396px;
  margin-bottom: 65px;
}

.audio header {
  background-position: 0 0;
  border: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding: 40px 80px 20px 20px;
}

.audio h2 {
  float: left;
  width: 500px;
}

.audio h2 a { color: #fff; }

.audio header p {
  color: rgba(255, 255, 255, .4);
  float: right;
  line-height: 40px;
}

.audio .player {
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  display: block;
  margin-bottom: 20px;
  padding: 6px 5px 5px 17px;
}

.audio embed { display: block; }
.audio p { color: rgba(255, 255, 255, .8); }

.audio .ribbon a {
  color: rgba(255, 255, 255, .8);
  text-shadow: 0 -1px rgba(0, 0, 0, .6);
}

.audio .permalink a { background-position: 13px -405px; }
.audio hr { background-image: url("http://static.tumblr.com/h42ojc9/664lbhpdq/bg_hr_rev.png"); }

/* =VIDEO */

.video .type a { background-position: 13px -1496px; }
.video .screen { margin-bottom: 20px; }

.video object, .video embed, .video .screen iframe {
  display: block;
  height: 420px !important;
  width: 700px !important;
}

.video .ribbon a {
  color: rgba(255, 255, 255, .8);
  text-shadow: 0 -1px rgba(0, 0, 0, .6);
}

.video .permalink a { background-position: 13px -405px; }

/* =FOOTER */

footer { display: none; }

.pagination {
  background: rgba(0, 0, 0, .1);
  border-top: 3px double rgba(0, 0, 0, .1);
  border-bottom: 3px double rgba(0, 0, 0, .1);
  padding: 16px 0;
}

/* =DPAD */

.dpad {
  background: url("http://static.tumblr.com/h42ojc9/irflbwdqn/bg_dpad.png") 50% 0 no-repeat;
  height: 102px;
  margin: 0 auto;
  position: relative;
  width: 240px;
}

.dpad li {
  position: absolute;
  top: 36px;
}

.dpad .right { right: 0; }
.dpad .left { left: 0; }

.dpad a {
  background-image: url("http://static.tumblr.com/h42ojc9/wI1lbwdr5/bg_dpad_buttons.png");
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, .6);
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-shadow: 0 1px rgba(255, 255, 255, .8);
  text-transform: uppercase;
  width: 50px;
}

.dpad .right a {
  padding-left: 65px;
  text-align: left;
}

.dpad .left a {
  padding-right: 65px;
  text-align: right;
}

.dpad .right a { background-position: left 0; }
.dpad .right a:hover { background-position: left -30px; }
.dpad .right a:active { background-position: left -60px; }
.dpad .left a { background-position: right -90px; }
.dpad .left a:hover { background-position: right -120px; }
.dpad .left a:active { background-position: right -150px; }
.dpad a:hover { color: rgba(0, 0, 0, .8); }